.page{
    width: 100%;
    min-height:100%;
    max-width:750px;
    margin:0 auto;
}

svg{
    display: block;
    margin:0 auto;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear forwards;
}
@keyframes dash {
    to {  stroke-dashoffset: 0;  }
}

.font{
    animation: display 2s;
    font-size:26px;
}
@keyframes display
{
    from {opacity: 0;}
    to {opacity: 1;}
}